<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stationID</key>
	<string>KTXLAMPA41</string>
	<key>WU_API_KEY</key>
	<string>c7d2cde9af0549c092cde9af05a9c03f</string>
</dict>
</plist>
